<div class="nav-item-group space-y-2">
    
    <a href="#dashboard-overview" class="nav-link" data-access-roles="admin,Coordinator" data-page-path="./pages/admin/dashboard-overview.html">
      
        Dashboard Overview
    </a>

    <a href="#user-management" class="nav-link" data-access-roles="admin,Coordinator" data-page-path="./pages/admin/user-management.html">
       
        User Management
    </a>
    
    <a href="#system-management" class="nav-link" data-access-roles="admin" data-page-path="./pages/admin/system-management.html">
    
        System Management
    </a>
    
    <a href="#test-creation" class="nav-link" data-access-roles="admin,Coordinator,Faculty" data-page-path="./pages/admin/adminmanageTests.html">
       
        Test Creation
    </a>
    
    <a href="#test-bank" class="nav-link" data-access-roles="admin" data-page-path="./pages/admin/admin-tests-list.html">
        
        Test Bank
    </a>

    <a href="#results-analytics" class="nav-link" data-access-roles="admin,Coordinator" data-page-path="./pages/admin/admin-result-analytics.html">
        
        Results Analytics
    </a>
</div>